*distillation_results
*.pt
*.pth
*.onnx
*.onnx.txt
*.onnx.txt.gz
*.onnx.txt.gz.part
*.gradio
output
eval_res
source_voices
target_voice
eval_res
*.zip
ru_checkpoints
*.m4a

# general things to ignore
.DS_Store
build/
build_contrib/
dist/
.cache/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# IDE
.vscode/
.idea/

# misc
checkpoints/
test_waves/
reconstructed/
.python-version
ruff.log
/configs/inuse/
runs/
/garbages/
/flagged/
/experimental/
